@using productapi.Models
@using System.Reflection
@model HomepageViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8" />
    <title>Products API</title>
    <link rel="stylesheet" type="text/css" href="/Resources/bootstrap-4.0.0.min.css" />
    <link rel="stylesheet" type="text/css" href="/Resources/style.css">
</head>
<body>
    <header class="mb-3">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"></h1>Product API</h1></a>
            <a href="/help" class="flex-grow">Help</a>
        </nav>
</header>
    <main class="container">
        <div class="card my-3">
            <div class="card-body">
                <h2>User:</h2>
                <form id="token-form" action="post">
                    <label for="password" class="d-block d-lg-inline-block">Username</label>
                    <input class="form-control  d-block d-lg-inline-block w-auto" type="text" id="username" name="username" required />
                    <label for="password" class="d-block d-lg-inline-block">Password</label>
                    <input class="form-control d-block d-lg-inline-block w-auto" type="password" id="password" name="password" required />
                    <button class="ml-lg-2 btn btn-primary mt-3 mt-lg-0">Login</button>
                </form>
                <div id="logged-in" class="hide">
                    Hi <span id="logged-in-username"></span>
                    <button class="btn btn-primary" id="log-out">Log Out</button>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <h2>Request:</h2>
                <form id="req-form" action="get">
                    <input type="hidden" name="auth" id="auth" />
                    <label for="req-type">Request Type</label>
                    <select class="form-control" name="req-type" id="req-type">
                        <option value="get">Get Products (GET)</option>
                        <option value="post">Add Products (POST)</option>
                        <option value="put">Update Products (PUT)</option>
                        <option value="delete">Remove Products (DELETE)</option>
                    </select>
                    @foreach (PropertyInfo productParam in Model.ProductParams)
                {
                    <div class="form-group mt-2">
                        <label for="@productParam.Name">@productParam.Name</label>
                        <input class="form-control" name="@productParam.Name" id="@productParam.Name" type="text" />
                    </div>
            }

                    <button class="btn btn-primary">Send Request</button>
                </form>
                </div>
            </div>
                <div id="req-data" class="hide">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h2>Request</h2>
                            <dl>
                                <dt>URL</dt>
                                <dd id="req-url"></dd>
                                <dt>Body</dt>
                                <dd><code id="req-body"></code></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-body">
                            <h2>Result</h2>
                            <dl>
                                <dt>URL</dt>
                                <dd id="res-status"></dd>
                                <dt>Body</dt>
                                <dd><code id="res-body"></code></dd>
                            </dl>
                        </div>
                    </div>
                </div>
    </main>
</body>
</html>
<script src="/Resources/scripts/libs/jquery-3.4.1.slim.min.js"></script>
<script src="/Resources/scripts/libs/bootstrap-4.0.0.min.js"></script>
<script src="/Resources/scripts/scripts.js"></script>
