@using productapi.Models
@using System.Reflection
@model HomepageViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Products API</title>
    <link rel="stylesheet" type="text/css" href="/Resources/style.css">
</head>
<body>
    <header>
        <h1>Products API</h1>
        <form id="token-form" action="post">
            <label for="password">Username</label>
            <input type="text" id="username" name="username" required />
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required/>
           <button>Login</button>
        </form>
        <div id="logged-in" class="hide">
            Hi <span id="logged-in-username"></span>
            <button id="log-out">Log Out</button>
        </div>
    </header>

    <form id="req-form" action="get">
        <input type="hidden" name="auth" id="auth" />
        <label for="req-type">Request Type</label>
        <select name="req-type" id="req-type">
            <option value="get">Get Products (GET)</option>
            <option value="post">Add Products (POST)</option>
            <option value="put">Update Products (PUT)</option>
            <option value="delete">Remove Products (DELETE)</option>
        </select>
        @foreach (PropertyInfo productParam in Model.ProductParams)
    {
        <label for="@productParam.Name">@productParam.Name</label>
        <input name="@productParam.Name" id="@productParam.Name" type="text" />
}
       
        <button>Send Request</button>
    </form>
    <div id="req-data" class="hide">
        <h2>Request</h2>
        <dl>
            <dt>URL</dt>
            <dd id="req-url"></dd>
            <dt>Body</dt>
            <dd id="req-body"></dd>
        </dl>
        <h2>Result</h2>
        <dl>
            <dt>URL</dt>
            <dd id="res-status"></dd>
            <dt>Body</dt>
            <dd id="res-body"></dd>
        </dl>
    </div>

</body>
</html>
<script src="/Resources/scripts/libs/fetch.min.js"></script>
<script src="/Resources/scripts/scripts.js"></script>
