@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using productapi.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
    ViewBag.Title = "Product API Help Page";

    // Group APIs by controller
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<header class="header">

            <p class="header-title"><a href="/">Product API</a></p>
            <a class="header-link" href="/help">Help</a>
</header>
<div id="body" class="help-page">
    <h1>@ViewBag.Title</h1>
    <section class="featured">
        <div class="content-wrapper">
            <h2>Introduction</h2>
            <p>
                Set of CRUD APIs for products
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        @foreach (var group in apiGroups)
        {
            @Html.DisplayFor(m => group, "ApiGroup")
        }
    </section>
</div>
